
/* 글쓰기 폼  */
#write_wrap{
	width: 80%;
	height: 600px;
	margin: 100px auto;
}

#write_table{
	width: 80%;
	height: 100px;
	margin: auto;
}

/* input type */
#title{
	width: 100%;
}

#hashTag{
	width: 100%;
}


/* button  */
.write_button{
	width: 50px;
	height: 30px;
}

#write_table > tbody > tr:nth-child(5) > td{
	text-align: center;
}

/* 스마트 에디터 */

/* 별점 주기 */
#star_grade a{
	text-decoration: none;
    color: gray;
    font-size: 20px;
}
#star_grade{
	margin: 0 !important;
}
#star_grade a.on{
    color: orange;
}