/* 채팅창 전체를 감싸는 div  */
.chat_wrap{
	border: 1px solid black;
	width: 65%;
	height: 675px;
	margin: 100px auto;
	background-color: #F3E2A9;
}

/* 메시지가 출력되는 부분  */
#message_box{
	margin-top: -15px;
	width: 100%;
	height: 500px;
	overflow-y: scroll;
	opacity: 0.6;
}

/* textarea  */
#comment{
	float: left;
	resize: none;
	width: 90%;
	height: 90px;
}

/* 전송버튼  */
#sendBtn{
	margin: 5px 0 0 10px;
}

#message_box > ul{
	padding: 0;
}
#message_box > ul .me{
	text-align: right;
}

#message_box > ul > li div{
	width: auto;
	display: inline;
}
#message_box > ul .list-group-item{
	border: 0;
}

body > div.comm_body > div.content_wrap{
	min-width: 1000px;
}


/* 뒤로가기 버튼  */
body > div.comm_body > div.content_wrap > div > div.card.border-secondary.mb-3 > div > a:nth-child(1) > i{
	font-size: 30px;
	color: black;
}
body > div.comm_body > div.content_wrap > div > div.card.border-secondary.mb-3 > div > a:nth-child(1) > i:hover{
	color: rgb(229, 229, 229);
}
/* 나가기 버튼 아이콘 */
body > div.comm_body > div.content_wrap > div > div.card.border-secondary.mb-3 > div > a:nth-child(3) > span > i{
	font-size: 20px;
}

body > div.comm_body > div.content_wrap > div > div.card.border-secondary.mb-3 > div > a:nth-child(3) > span{
	color: black;
}
body > div.comm_body > div.content_wrap > div > div.card.border-secondary.mb-3 > div > a:nth-child(3) > span:hover{
	color: rgb(229, 229, 229);
}

/*  나가기 버튼 a태그  */
body > div.comm_body > div.content_wrap > div > div.card.border-secondary.mb-3 > div > a:nth-child(3){
	text-decoration: none;
}

/* 상대방 이름 */
body > div.comm_body > div.content_wrap > div > div.card.border-secondary.mb-3 > div > span{
	font-size: 20px;
	margin-left: 20px;
}

/* 시간 사이즈 */
#message_box > ul li span{
	font-size: 10px;
}

body > div.comm_body > div.content_wrap > img{
	width: 500px;
	height: 500px;
	left: 18px;
	top: 300px;
	position: absolute;
}

/* 채팅 리스트 페이지 배경 추가  */
/* body > div.comm_body{
	background-image: url('../images/chatdetail_img.jpg');
	background-size: 30% 70%;
	background-repeat: no-repeat;
	height: 1000px;
	z-index: -1;
} */




#message_box > ul li p > img{
	width: 60px;
	height: 60px;
	margin: 5px;
}