body > div.comm_body > div.content_wrap > div > table{
	width: 80%;
	margin: 80px auto;
}

.comment_wrap{
	width: 80%;
	margin: 80px auto;
	background-color: rgb(229,229,229);
}

/* form 태그 */
#frm{
	text-align: right;
}

.comment_table{
	width: 100% !important;
}

/* 댓글 수정 삭제   */
body > div.comm_body > div.content_wrap > div.comment_wrap > table > tbody > tr td a{
	text-decoration: none;
	color: black;
}
body > div.comm_body > div.content_wrap > div.comment_wrap > table > tbody > tr td a:hover{
	font-weight: bold;
}
/* 
#comment{
	width: 90%;
	margin: auto;
} */
body > div.comm_body > div.content_wrap > div.detail_wrap > table > tbody > tr:nth-child(2) > td:nth-child(1) > h4 > img{
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

body > div.comm_body > div.content_wrap > div.comment_wrap > table > tbody > tr td > img{
	width: 50px;
	height: 50px;
	margin-right: 5px;
}