
body{
margin-top: 150px;	
margin-left: 100px;
}
#bookList_Wrap{
	margin-left : 50px;
}
#title{
	font-size: 30px;
    background: #00284d;
    color: white;
}
#book_list > tbody > tr > th,td{
	text-align: center;
    padding: 10px;
}
#event_regi {
    position: fixed;
    top: 200px;
    left: 900px;
    background-color: #00284d;
    width: 500px;
    border: none;
    font-size: 20px;
    height: 70px;
    font-weight: bold;
    color:white;
}
/* #event_regi:hover{
	font-size:30px;
} */
#event_wrap{
	/* border :1px solid black; */
	position: absolute;
    left: 900px;
    background: none;
}
#eventTop {
    background-color: #00284d;
    color: white;
    font-size: 20px;
}
#eventListTable > tbody > tr> th,td{
text-align: center;
    padding: 10px;
}
