nav-bar랑 띄우기
body{
margin-top: 250px;	
margin-left: 100px;

}

/* /* 처방전 modal 숨기기 */
.recHide {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.recShow{
	width: 70%;
	height: 500px;
	border: 1px solid black;
} */
#rec_top, #sub_wrap{
	background-color: yellow;
}
#add_input {
	font-size: 20px; !important;
}

#add_input{
	font-size: 30px;
	text-decoration: underline;
	cursor: pointer;
}
input[type=text]{
	background: none;
	border : 0px;
	border-bottom: 1px solid black;
}
