.wrapper:after {
	content: "";
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	background-image: url(/hos/resources/images/login_back.jpg);
	z-index: -1;
	top: 0;
}

/*--header--*/
.header h1 {
	font-size: 2.8em;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	margin: 146px 0px 0.4em;
}

.about-bottom {
	width: 30%;
	top: 10px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.8);
	padding: 1em 3em;
	position: relative;
}

.book-form label {
	font-size: 0.9em;
	color: #353535;
	display: block;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.book-form label i {
	font-size: 1em;
	margin-right: 10px;
	color: #2baf2b;
}

.book-form input[type="text"], .book-form input[type="password"] {
	text-align: center;
	width: 100%;
	color: black;
	outline: none;
	font-size: 0.9em;
	line-height: 25px;
	padding: 4px 16px;
	border: 1px solid #007bff;
	letter-spacing: 1px;
	-webkit-appearance: none;
	margin-bottom: 0.3em;
	background: transparent;
	font-family: 'Cuprum', sans-serif;
	box-shadow: inset 0px 0px 4px 0px rgb(217, 214, 253);
}

.book-form form input[type="submit"] {
	text-transform: uppercase;
	background: #007bff;
	color: #FFFFFF;
	padding: .7em 0em;
	border: none;
	font-size: 1em;
	outline: none;
	width: 80%;
	letter-spacing: 1px;
	font-weight: 600;
	margin-top: 0.5em;
	cursor: pointer;
}

.book-form form input[type="submit"]:hover {
	background: #fff;
	color: #007bff;
}

.btn {
	width: 100%;
	text-align: center;
}

.navbar_wrap {
	background-color: white;
}

#address .address_form.mini {
	width: 7em;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}