.wrapper:after {
	content: "";
	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	background-image: url(/hos/resources/images/login_back.jpg);
	z-index: -1;
	top: 0;
}

/*--header--*/
.header h1 {
	font-size: 2.8em;
	letter-spacing: 3px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	margin: 100px 0px 0.2em;
}

.header h5 {
	letter-spacing: 3px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	margin: 50px 0px 0.4em;
}

.about-bottom {
	width: 25%;
	top: 10px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.8);
	padding: 1em 3em;
	position: relative;
}

.book-form label {
	font-size: 0.9em;
	color: #353535;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.book-form label i {
	font-size: 1em;
	margin-right: 10px;
	color: #2baf2b;
}

.book-form input[type="text"], .book-form input[type="password"] {
	text-align: center;
	color: black;
	font-size: 0.9em;
	line-height: 25px;
	padding: 4px 16px;
	border: 1px solid #007bff;
	letter-spacing: 1px;
	-webkit-appearance: none;
	margin-bottom: 0.3em;
	background: transparent;
	font-family: 'Cuprum', sans-serif;
	box-shadow: inset 0px 0px 4px 0px rgb(217, 214, 253);
}

.book-form input[type="text"] {
	width: 100%;
}

.book-form input[type="password"] {
	width: 100%;
}

.book-form form input[type="submit"] {
	text-transform: uppercase;
	background: #007bff;
	color: #FFFFFF;
	padding: .7em 0em;
	border: none;
	font-size: 1em;
	outline: none;
	width: 80%;
	letter-spacing: 1px;
	font-weight: 600;
	margin-top: 0.5em;
	cursor: pointer;
}

.book-form form input[type="submit"]:hover {
	background: #fff;
	color: #007bff;
}

#joinBtn {
	width: 100%;
	text-align: center;
}

.navbar_wrap {
	background-color: white;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

.sel {
	width: 32%;
}

.bir_wrap>div {
	display: inline;
}

.list-group {
	position: absolute;
	width: 100%;
	left: 0;
}

.list-group-item {
	cursor: pointer;
	position: relative;
	display: block;
	line-height: 1.38;
	padding: 1rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fbfcfd;
	border: 1px solid rgba(0, 0, 0, .125);
}

#hosResult:hover {
	background-color: #d3d7dc;
}

.error_next_box {
	display: inline-block;
	font-size: 12px;
	color: red;
}

.errorMsg {
	line-height: 0.8;
	margin-bottom: 2%;
}

#joinBtn {
	padding: 0;
}

.input_button {
	width: 30%;
    background-color: #12a6ed;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    height: 35px;
    float: right;
}

#postcode, #phone_number{
	width: 65%;
}