tr{
	margin-bottom: 10px;	
}

#message{
	border: 1px solid #007bff;
	border-radius: 4px;
}
/*  text box*/
td input[type=text] {
  border: 1px solid #007bff;
  height: 20px;
  border-radius: 4px;
  margin : 20px;
  vertical-align: middle;
}
/* 모달창 숨기는 클래스  */
.insertHide {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
/* 예약할래유 버튼  */
#insertBtn {
	width: 20%;
	height: 20%;
	background-color: salmon;
}
/* 모달창 보이는 클래스  */
.insertShow {
	top: 150px;
	left: 350px;
	width: 60%;
	height:70%;
	z-index: 1000;
	position: absolute;
	text-align: center;
	display: flex ;
	border: 0px;
	font-size: 20px;
  	z-index: 1000; /* Sit on top */
  	overflow: auto; /* Enable scroll if needed */
  	background-color:  #ffffff;/* Black w/ opacity */
    background: rgba(255, 255, 255, 0.8);
 	 margin:auto ;
  	vertical-align: middle;
  	border-radius: 4px;	
}
/* 예약/닫기 버튼 */
.reserve_btn{
	text-transform: uppercase;
    background: #007bff;
    color: #FFFFFF;
    padding: .7em 0em;
    border: none;
    font-size: 1em;
    outline: none;
    width: 80%;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 0.5em;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;	
}
.reserve_btn:hover{
  background-color: white; 
  color: black; 
  border: 2px solid #007bff;
}
/* 셀렉트박스  */
#re_time{
	 border: 1px solid #007bff;
	 border-radius: 4px;	
}
/* 예약 테이블  */
#hos_table{
	width: 400px;
    height: 400px;
    margin: auto;
}
/* 예약가능시간 버튼  */
#time_chk{
	border: 0px;
	background: none;
	color : #5085BB;
	text-decoration:  underline;
}
#time_chk:hover{
	color: red;
}
#name, #username{
	font-size : 15px;
}