<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
    
    <!-- 병원 가입 관리 (승인 처리?)-->
    <update id="hos_join" parameterType="com.dana.hos.member.module.MemberDTO">
		update member set enabled =1 where username =#{username}
	</update>
	
	<!-- 병원 리스트  -->
	<select id="selectUserById" resultType="com.dana.hos.member.module.MemberDTO">
		SELECT * FROM member WHERE enabled =0
    </select>
    
    <!-- Hospital+member 테이블 조인 -->
    <resultMap type="com.dana.hos.member.module.MemberDTO" id="hospital" autoMapping="false" >
		<result column="username" property="username"/>
			<result column="name" property="name"/>
			<result column="phone" property="phone"/>
			<result column="enabled" property="enabled"/>
			<result column="hos_id" property="hos_id"/>
		
	
		<collection ofType="com.dana.hos.map.module.HosDTO" property="hosDTO" autoMapping="false" >
		<result column="hos_name" property="hos_name"/>
		<result column="hos_address" property="hos_address"/>
		<result column="hos_category_name" property="hos_category_name"/>
		</collection>
	</resultMap>
	
	<!-- Hospital+member 테이블 조인  소환-->
	<select id="joinList" resultMap="hospital" parameterType="string">
		select m.*, h.hos_name, h.HOS_CATEGORY_NAME, h.hos_address
		from member m, hospital h 
		WHERE m.hos_id = h.hos_id and enabled =0
	 </select>
	 
	 <!-- Hospital+Event 테이블 조인 -->
    <resultMap type="com.dana.hos.hopital.module.EventDTO" id="a_eventList" autoMapping="false" >
		<result column="eno" property="eno"/>
			<result column="e_subject" property="e_subject"/>
			<result column="e_content" property="e_content"/>
			<result column="e_type" property="e_type"/>
			<result column="e_url" property="e_url"/>
			<result column="hos_id" property="hos_id"/>
		
	
		<collection ofType="com.dana.hos.map.module.HosDTO" property="e_hosDTO" autoMapping="false" >
		<result column="hos_name" property="hos_name"/>
		<result column="hos_phone" property="hos_phone"/>
		</collection>
	</resultMap>
	
	<!-- Hospital+Event 테이블 조인  소환 Event 종류별 리스트-->
	<select id="e_type" resultMap="a_eventList" parameterType="com.dana.hos.hopital.module.EventDTO">
		select e.*, h.hos_name, h.hos_phone
		from event e, hospital h 
		WHERE h.hos_id = e.hos_id and h.hos_id=#{hos_id} and e.e_type=#{e_type}
	 </select>
	 
	 <!-- Hospital+Event 테이블 조인  소환 Event 종류 리스트 -->
	 <select id="e_typeList" resultMap="a_eventList" parameterType="string">
	 	select DISTINCT e.hos_id, h.hos_name,e.e_type
		from event e, hospital h 
		WHERE h.hos_id = e.hos_id
        order by hos_id
	 </select>
    
</mapper>