<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comm">

	<insert id="write" parameterType="com.dana.hos.comm.module.ReviewDTO">
		<!-- 나중에 null 지워야됨 / 후기는 마이페이지에서 작성하는 게 좋을 듯  -->
		insert into review 
		values(vi_seq.nextval, #{vi_subject}, #{vi_content}, #{vi_hash, jdbcType=VARCHAR}, #{vi_star, jdbcType=VARCHAR},#{username}, 
		#{name}, #{hos_name}, sysdate, #{rno})
	</insert>
	
	<!-- 전체 후기 글 목록  -->
	<select id="comList" resultType="com.dana.hos.comm.module.ReviewDTO" parameterType="com.dana.hos.comm.module.PageDTO">
		<!-- select * from review -->
		<![CDATA[
			select b.* from 
			(select rownum as rm, a.* from(
			select * from review order by vino desc)a)b
			where b.rm >= #{startPage} and b.rm <= #{endPage}
		]]>
	</select>
	
	<!-- 특정사용자 후기 글 목록  -->
	<select id="myList" resultType="com.dana.hos.comm.module.ReviewDTO" parameterType="String">
		select * from review where username=#{username}
	</select>
	
	<!-- 전체 해시 태그  -->
	<select id="hash_list" resultType="com.dana.hos.comm.module.ReviewDTO" >
		select vi_hash from review
	</select>
	
	<!-- 특정번호 후기 글 상세  -->
	<select id="reviewDetail" resultType="com.dana.hos.comm.module.ReviewDTO" parameterType="int">
		select * from review where vino=#{vino}
	</select>
	
	<!-- 후기 댓글작성  -->
	<insert id="write_com" parameterType="com.dana.hos.comm.module.CommentDTO">
		insert into review_com values(cno_seq.nextval, #{com_content}, #{vino}, #{name, jdbcType=VARCHAR}, sysdate)
	</insert>
	
	<!-- 해당 글의 댓글 가지고 오기  -->
	<select id="com_list" parameterType="int" resultType="com.dana.hos.comm.module.CommentDTO">
		select * from review_com where vino=#{vino} order by cno
	</select>
	
	<!-- 후기글 삭제하기  -->
	<delete id="review_delete" parameterType="int">
		delete from review where vino=#{vino}
	</delete>
	
	<!-- 후기 글 수정하기  -->
	<update id="review_update" parameterType="com.dana.hos.comm.module.ReviewDTO">
		update review set vi_content=#{vi_content}, vi_hash=#{vi_hash}, vi_star=#{vi_star}, vi_date=sysdate where vino=#{vino}
	</update>
	
	<!-- 후기 댓글 삭제  -->
	<delete id="comDelete" parameterType="int">
		delete from review_com where cno=#{cno}
	</delete>
	
	<!-- 후기 댓글 수정  -->
	<update id="modifyCom" parameterType="com.dana.hos.comm.module.CommentDTO">
		update review_com set com_content=#{com_content}, com_date=sysdate where cno=#{cno}
	</update>
	
	<!-- 해시태그 리스트 -->
	<select id="reviewHash" resultType="com.dana.hos.comm.module.ReviewDTO" parameterType="com.dana.hos.comm.module.PageDTO">
		<!-- select * from review -->
		<![CDATA[
			select b.* from
			(select rownum as rm, a.* from(
			select * from review where vi_hash like '%' ||  #{vi_hash} || '%' order by vino desc)a)b
			where b.rm >= #{startPage} and b.rm <= #{endPage}
		]]>
	</select>
</mapper>
