<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myinfo">

	<!-- 내정보 수정 -->
	<update id="myinfoUpdate" parameterType="com.dana.hos.member.module.MemberDTO">
		update member set address=#{address}, 
		phone=#{phone}, birth=#{birth}
		<if test="profile_image!=null">
		, profile_image=#{profile_image, jdbcType=VARCHAR} 
		</if>
		where username=#{username}
	</update>

	<!-- 프로필 사진 확인 -->
	<select id="uploadProfile_image" parameterType="String" resultType="String">
		select profile_image from member where username=#{username}
	</select>

	<!-- 비밀번호 변경 -->
  <update id="passwordUpdate" parameterType="com.dana.hos.member.module.MemberDTO">
		update member set password=#{password} where username=#{username}
	</update>
  
	<!-- 아이디 기준 멤버 테이블 보기 -->
    <select id="selectUserById" resultType="com.dana.hos.member.module.MemberDTO">
		SELECT * FROM member WHERE username = #{username}
    </select>
    
    <!-- 내 예약 + 병원이름 조인 -->
    <resultMap type="com.dana.hos.reserve.module.ReserveDTO" id="Reserve" autoMapping="false" >
		<result column="hos_id" property="hos_id"/>
		<result column="re_date" property="re_date"/>
		<result column="re_time" property="re_time"/>
		<result column="category" property="category"/>
		<result column="message" property="message"/>
		<result column="re_state" property="re_state"/>
		<result column="username" property="username"/>
		<result column="medicine" property="medicine"/>
		<result column="eat_cnt" property="eat_cnt"/>
		<result column="rno" property="rno"/>
		
	
		<collection ofType="com.dana.hos.map.module.HosDTO" property="hosDTO" autoMapping="false" >
			<result column="hos_name" property="hos_name"/>
		</collection>
	</resultMap>

    <resultMap type="com.dana.hos.comm.module.ReviewDTO" id="Review" autoMapping="false" >
    	<result column="hos_name" property="hos_name"/>
    	<result column="vino" property="vino"/>
    	<result column="vi_subject" property="vi_subject"/>
    	<result column="vi_star" property="vi_star"/>
    	<result column="username" property="username"/>
    	<result column="name" property="name"/>
    	<result column="vi_date" property="vi_date"/>
    	<result column="rno" property="rno"/>
    	
    	
    	<collection ofType="com.dana.hos.reserve.module.ReserveDTO" property="reserveDTO" autoMapping="false" >
			<result column="re_date" property="re_date"/>
		</collection>
    </resultMap>
    
    
    <!-- 내 예약 조인 -->
	 <select id="myresList" resultMap="Reserve" parameterType="string">
		select r.*, h.hos_name 
		from reserve r, hospital h 
		WHERE r.hos_id = h.hos_id and r.username = #{username} 
		order by re_date desc
	 </select>

	
	<!-- 내 예약 취소(예약 상태 update) -->
	<update id="myresCancel" parameterType="int">
		update reserve set re_state=2 where rno=#{rno}
	</update>
	
	<!-- 내 예약 후기버튼 확인 -->
	<select id="reviewBtnCheck" resultMap="Review" parameterType="string">
		select rno from review
		where username=#{username}
	</select>
	
 	<!-- 내 리뷰 조인-->
 	<select id="myReviewList" resultMap="Review" parameterType="string">
 		select re.hos_name, re.vino, re.vi_subject, re.vi_star, re.username, re.name, re.vi_date, re.rno, res.re_date
 		from review re, reserve res
 		where re.rno = res.rno and re.username=#{username} 
	</select>
	
</mapper>