/* 폰트설정 */
@import
	url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

/*navbar*/
body>div.navbar>div {
	background-color: white;
	font-family: 'Nanum Gothic Coding', serif;
	margin-bottom: 10px;
}
/* 로고 */
#logo {
	margin-top: -40px;
	width: 150px;
	height: 60px;
	position: absolute;
	z-index: 5;
}

/* 배경이미지 */
.img-fluid {
	position: fixed;
	z-index: 1;
}

/* 전체 background */
#wrap {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 170%;
	background-color: white;
	margin-top: 20%;
}

#form {
	width: 70%;
	margin-left: 15%;
}

/* 공지사항 title */
#text {
	border-bottom: 2px solid gray;
	height: 90px;
	margin-top: 0;
}

#p {
	font-size: 30px;
	margin-top: 25px;
	font-weight: 700;
}

/* 공지사항 소개글 */
#title{
	
	position: absolute;
	z-index: 2;
	width: 100%;
	height:50px;
	color :black;
}

#titletext{
	border:1px solid red;
	position: absolute;
	z-index: 2;
}
/* 제목글 */
#subject {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	height: 90px;
	border-bottom: 1px solid #cccccc;
	font-weight: 700;
}

/* 파일 */
#file {
	border-bottom: 1px solid #cccccc;
	margin-top: 20px;
	height: 50px;
}

#rc>a {
	font-weight: 600;
	font-size: large;
}

#filetext {
	font-weight: 600;
	margin-left: 15px;
	font-size: large;
}

#download{
	width: 50px;
    height: 44px;
    
}

/* 등록일 */
#reg_date>a {
	font-weight: 600;
	font-size: large;
}
/* 조회수 */
#rc {
	display: inline;
	float: right;
	margin-right: 30px;
}

#reg_date {
	display: inline;
	float: right;
	margin-right: 50px;
}
/* 내용 */
#content {
	height: 1000px;
	border: 1px solid black;
}

/* 이전다음글 */
#prenext{
	margin-top:30px;
	width: 70%;
	margin-left: 15%;
	border-top: 1px solid #cccccc;
	
}
#prenext_text{
	border-bottom: 1px solid #cccccc;
	margin-top: 20px;
	height: 40px;
}


/* 리스트로 가는버튼 */
#list {
	float: right;
	margin-top: 40px;
	margin-right: 280px;
}

/* body>div.footer {
	position: absolute;
	z-index: 3;
	margin-top: 1850px;
	background-color: #ccccff;
}

body>div.footer-content {
	position: absolute;
	z-index: 3;
	margin-top: 1850px;
	background-color: #ccccff;
} */