
/* 폰트설정 */
@import
	url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

body>div.navbar>div {
	background-color: white;
	font-family: 'Nanum Gothic Coding', serif;
	margin-bottom: 10px;
}

.img-fluid{
	position: absolute;
	z-index: 1;
	/* opacity: 0.5; */
}

/* 공지사항 소개글 */
#title{
	font-family: 'East Sea Dokdo', cursive;
	position: absolute;
	z-index: 2;
	color :black;
	font-size: 90px;
}

#titletext{
	width: 100%;
	height:50px;
	position: absolute;
	z-index: 2;
	padding-top: 90px;
	padding-left: 250px;
}
/* 전체 background */
#bodywrap {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 130%;
	background-color: white;
	margin-top: 30%;
}


#form {
    width: 70%;
    margin-left:30%;
    margin-top: 5%;
}


/* 제목 */
#subject > input[type=text]{
	width: 550px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* 리스트,저장 버튼 */
#btn{
	position: absolute;
	z-index: 2;
	margin-top: 75%;
	margin-left: 55%;
}

/* footer */
body > div.footer-content{
	position: absolute;
	z-index: 3;
	margin-top: 60%;
	height:30%;
	background-color: #ccccff;
}
